@media (max-width: 1500px) {
  .cards__list,
  .price-cards__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .header-desktop,
  .menu-wrap {
    display: none;
  }

  .wrap-block {
    padding: 0;
  }

  .header-mobile {
    display: flex;
  }

  .mobile-menu {
    display: flex;
  }

  nav {
    padding: 0;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .cards__list,
  .price-cards__list {
    grid-template-columns: 1fr 1fr;
  }

  .cards__list-item-text {
    font-weight: 400;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 14px;
  }

  .cards__title {
    font-size: 30px;
  }

  .cards__list,
  .price-cards__list {
    grid-template-columns: 1fr;
  }

  .search-block__content {
    flex-direction: column;
  }

  .purple-input {
    width: 100%;
  }

  .slider-block__title {
    font-size: 30px;
  }

  .mobile-menu__list {
    gap: 25px;
  }
}
