@font-face {
  font-family: "FuturaPT";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/FuturaPT-Bold.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-style: bold;
  font-weight: 500;
  src: url("/fonts/FuturaPT-Demi.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FuturaPT-Book.woff") format("woff");
}

html,
body {
  height: 100%;
  margin: 0;
  color: #000;
  font-family: "FuturaPT", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 255px;
  background-color: #e8d8e6;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  overflow: auto;
  z-index: 2000;
}

main {
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.link {
  color: #ff8562;
  text-decoration: none;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 38px;
}

.page-title {
  width: 100%;
  margin: 20px 0 60px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #000000;
}

.description {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 20px;
}

.white-text {
  color: #fff;
}

.text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px 0px;
  position: relative;
  z-index: 100;
}

.nav__item {
  font-weight: 500;
  font-size: 15px;
}

.nav__input {
  background-color: #e8d8e6;
  font-size: 12px;
  height: 30px;
  border: 1px solid #00000033;
  padding: 0 25px 0 30px;
  outline: none;
}

.nav__input_wrap {
  position: relative;
  background-color: #e8d8e6;
}

.nav__input-icon {
  position: absolute;
  width: 15px;
  top: 8px;
  left: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.wrap {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.wrap-block {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 255px;
  position: relative;
  z-index: 1000;
  width: 100%;
}

.menu-wrap {
  background-color: rgba(170, 99, 171, 0.5);
  height: 75px;
  width: 100%;
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.menu__item {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}

.bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bg-image img {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/*OFFER*/

.offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-down {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}

.wts-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  bottom: 40px;
  right: 10px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.wth-btn:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
}

.wts-btn img {
  position: absolute;
  border-radius: 100%;
}

/*CARDS*/

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px 0 120px;
}

.cards__text-block {
  width: 100%;
  margin: 0 auto 100px;
  max-width: 580px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards__title {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(31, 28, 31);
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 15px;
}

.cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 110px 20px;
}

.cards__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cards__list-item-img {
  display: flex;
  margin: 0 0 20px;
}

.cards__list-item-text {
  font-size: 26px;
  font-weight: 700;
}

/*PRICE-CARDS*/

.price-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px 0 120px;
}

.price-cards__title {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(31, 28, 31);
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 90px;
}

.price-cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 110px 20px;
}

.price-cards__item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.price-cards__item-img {
  display: flex;
  margin: 0 0 20px;
}

.price-cards__item-text {
  font-size: 23px;
  font-weight: 500;
  margin: 0 0 12px;
}

.price-cards__item-price {
  font-size: 20px;
}

.search-block {
  width: 100%;
  background-color: #fff;
  padding: 0 0 60px;
}

.search-block__content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  width: 100%;
  position: absolute;
  width: 25px;
  left: 20px;
}

.purple-input {
  color: #000000;
  border: 1px solid #b518ba;
  background-color: #fcf9f9;
  min-height: 60px;
  width: 375px;
  padding: 0px 20px 0px 60px;
  outline: none;
}

.btn {
  color: #ffffff;
  background-color: #aa63ab;
  font-weight: 600;
  min-height: 60px;
  min-width: 164px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.info {
  width: 100%;
  background-color: #fff;
}

.info__content {
  width: 100%;
}

.info__content h3 {
  font-size: 24px;
  margin: 0 0 30px;
}

.info__content h4 {
  font-size: 18px;
  line-height: 1.55;
  margin: 0 0 30px;
}

.info__content p,
.info__content ol {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 1.55;
}

.info__content p:last-child {
  margin: 0 0 0px;
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 15px 0px;
}

.social {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  gap: 10px;
  margin: 15px 0px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 20px;
}

.header-mobile {
  display: none;
}

.mobile-menu {
  display: none;
  width: 100%;
  position: fixed;
  align-items: center;
  height: 73px;
  bottom: 0;
  width: 100%;
  z-index: 2000;
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
}

.mobile-menu__list {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 55px;
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}

/*FEEDBACK*/

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2c6e1;
  padding: 45px 0px;
}

.feedback__title {
  font-size: 48px;
  line-height: 1.23;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin: 0 0 24px;
}

.feedback__desc {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(252, 249, 249);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.feedback__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 74px 0 0;
}

.feedback__form-btn {
  color: #ffffff;
  background-color: #1ed62e;
  min-height: 58px;
  border: none;
  border-radius: 30px;
  min-width: 135px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.feedback__form-input {
  border: none;
  width: 100%;
  min-height: 58px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

/*ANSWERS*/

.answers {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answers__title {
  font-size: 34px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

.answers__text {
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
}

.sorting-block {
  width: 100%;
  margin: 0 0 45px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.info-block {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f1f6fb;
  padding: 30px 0 105px;
}

.info-block__title {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  line-height: 1.23;
  margin: 0 0 30px;
}

.info-block__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*DETAIL*/

.detail {
  width: 100%;
  display: flex;
  padding: 60px 0 60px;
}

.detail__content {
  display: grid;
  width: 100%;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.detail__text-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}

.detail__img {
  width: 100%;
  position: relative;
}

.detail__img img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.detail__btn {
  color: #ffffff;
  background-color: #e3c7e1;
  border-radius: 10px;
  min-width: 132px;
  min-height: 45px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}

.detail__title {
  font-size: 22px;
  line-height: 1.35;
}

.detail__price {
  font-size: 18px;
  line-height: 1.35;
  font-weight: 500;
}

.detail__info {
  display: flex;
  flex-direction: column;
}

.detail__info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail__info span {
  font-weight: 600;
}
